{
	"0": ["Это мы!", "28.06.2019"],
        "1": ["Карта Эссо", "30.06.2019"],
        "2": ["Шишечка в Эссо", "05.07.2019"],
	"3": ["Ансамбль!", "06.07.2019"],
        "4": ["Александра на мосту", "05.07.2019"],
        "5": ["Уксичан около музея", "05.07.2019"],
        "6": ["Быстринский этнографический музей", "05.07.2019"],
	"7": ["Сушение рыбы на стойбище", "03.07.2019"],
	"8": ["Лингвисты идут в библиотеку, на первую встречу с эвенами", "01.07.2020"],
	"9": ["На дне Первой рыбы", "06.07.2019"],
        "10": ["Это мы в Петропавловске-Камчатском", "11.07.2019"],
        "11": ["На дне Первой рыбы", "06.07.2019"],
        "12": ["Первая рыба на дне Первой рыбы", "06.07.2019"],
	"13": ["Лошади около Эссо", "02.07.2019"],
        "14": ["Готовим лепёшки на стойбище Мэнэдек", "04.07.2019"],
        "15": ["По дороге от информантов", "05.07.2019"],
        "16": ["На стойбище Мэнэдек", "03.07.2019"],
	"17": ["Приветственная стелла!", "06.07.2019"],
        "18": ["Эссо", "06.07.2019"],
        "19": ["Уксичан", "06.07.2019"],
        "20": ["Эвенский костюм в музее", "05.07.2019"],
	"21": ["Команда лингвистов в Анавгае", "04.01.2020"],
	"22": ["Зимний Анавгай", "04.01.2020"],
	"23": ["Лингвисты в зимнем Анавгае", "05.01.2020"],
	"24": ["Зимнее Эссо", "12.01.2020"]
}
