<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <a href="/evenlang_online/scientific/main/" class="berry">
          <img src="/evenlang_online/static/img/logo.png" width="60%">
        </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
      {% assign titles = "новости~/evenlang_online/scientific/main, поле~/evenlang_online/scientific/field, о нас~/evenlang_online/scientific/about, тексты~/evenlang_online/scientific/texts, материалы~/evenlang_online/scientific/materials, публикации~/evenlang_online/scientific/articles, галерея~/evenlang_online/scientific/gallery, благодарности~/evenlang_online/scientific/acknowledgments, " | split: ", " %}
			{% for title in titles %}
      {% assign tit = title | split: "~" %}
      {% if tit[0] == "тексты" %}
      <li class="nav-item">
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: inherit !important;border: 0;text-align: left;">
            тексты
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #10bbc4 !important;border: 0;">
            <a class="dropdown-item" style="color: white !important;" href="/scientific/texts">тексты (устные и письменные)</a>
            <a class="dropdown-item" style="color: white !important;" href="/scientific/texts_newspaper">газета</a>
          </div>
        </div>
      </li>
      {% elsif tit[0] == page.title %}
			<li class="nav-item">
              <a class="nav-link" href="#">{{ tit[0] }}</a>
            </li>
      {% else %}
      <li class="nav-item">
              <a class="nav-link" href={{ tit[1] }}>{{ tit[0] }}</a>
            </li>
      {% endif %}
      {% endfor %}
          </ul>
          <!-- <form class="form-inline mt-2 mt-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
          </form> -->
        </div>
      </nav>
    </header>
