<div>
  {% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/scientific">&laquo;&laquo; В начало</a>
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Предыдущая</a>
  {% else %}
    <span>&laquo;&laquo; В начало</span>
    <span>&laquo; Предыдущая</span>
  {% endif %}
  {% if paginator.total_pages < 10 %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="page_number">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/scientific">{{ page }}</a>
    {% else %}
      <a href="/scientific/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% else %}

  {% assign i = paginator.page | minus: 5 %}
  {% assign j = paginator.page | plus: 5 %}
  {% if j > paginator.total_pages %}
  {% assign j = paginator.total_pages %}
  {% endif %}
  {% if i < 1 %}
  {% assign i = 1 %}
  {% endif %}
  {% for page in (i..j) %}
  {% if page == paginator.page %}
      <span class="page_number">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/scientific">{{ page }}</a>
    {% else %}
      <a href="/scientific{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Следующая &raquo;</a>
    <a href="/scientific/page{{ paginator.total_pages }}">В конец &raquo;&raquo;</a>
  {% else %}
    <span>Следующая &raquo;</span>
    <span>В конец &raquo;&raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
