---
layout: curious
title: Главная
pagination: 
  enabled: true
---

    <main role="main" class="container">
      <h1 class="mt-5">Главная</h1>
      <p class="lead">Здравствуйте, это эвенский проект, а точнее его САЙТ. Тут тексты, собранные в экспедиции, а ещё немного информации о нас и об эвенском. И ещё много всего кто-то однажды напишет.</p>
	  <p class="lead">Вот тут ещё текст. А ещё, ого, есть новости.</p>
	  <p class="lead">Привет, Антон. Тут всё не так. Можно всё менять.</p>
    </main>

<div class="container">
    {% for post in paginator.posts %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p class="author">
    <span class="date" style="margin-left: 2rem">{{ post.date | date: "%d.%m.%Y" }}</span>
  </p>
		<div class="row">
        {{ post.content }}
		<hr class="featurette-divider">
    </div>
    {% endfor %}
	</div>
</div>

<!-- Pagination links -->
<div class="container">
  {% include pagination.html %}
</div>
